@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}
/* for index page */
.column {   
    float: left;
    width: 75%;
}
.banner {
    background-color: #aaa;
    width: 100%;
    height: 400px;   
}
.banner img{
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.Footer{
    background-color:  rgb(48, 87, 214);
    text-align: center;
    padding: 4px 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
}
/* for Login and sign up page */
body{
    margin: 0;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-image: url('https://images6.alphacoders.com/115/1155869.jpg');
    background-repeat: no-repeat;
    background-color: rgb(157, 167, 157);
    background-size: cover;
    background-attachment: fixed;
}
.header{
    color: white;
    text-align: center;
    background-color: rgb(48, 87, 214);
    padding: 5px 0;
    border-radius: 15px;
}
.header h1 {
    font-size: 50px;
}
.topnav{
    overflow: hidden;
    background-color: white;
    border-radius: 15px;
    margin-top: 0px;
}
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: solid;
}
.topnav a:hover{
    background-color: tomato;
    color: white;
}
.main{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    background-attachment: fixed;
    background: linear-gradient(to left,white,grey);
    border-radius: 15px;
    box-shadow: 10px 10px 15px rgba(0,0,0,10);
}
.main h1{
    text-align: center;
    color: black;
    padding: 20px 0;
    border-bottom: 3px solid rgb(184, 53, 53);
    background-color: rgb(48, 87, 214);
    border-radius: 15px;
    font-size: 30px;
}
.main form{
    padding: 0 30px;
    box-sizing: border-box;
    overflow-x: auto;
}
.sub{
    position: relative;
    border-bottom: 3px solid green;
    margin: 35px 10px;
    padding: 1px 0;
    border-radius: 5px;
}
.sub input{
    font-size: 17px;
    border: none;
    background: none;
    outline: none;
}
.sub:hover{
    box-shadow: 10px 10px 15px rgba(0,0,0,0.50);
}
.pass{
    cursor: pointer;
    color: blue;
    margin: -5px 0 20px 5px;
}
.pass:hover{
    color: crimson;
}
input[type="submit"]{
    height: 50px;
    width: 100%;
    border: 3px solid;
    background: rgb(218, 52, 10);
    border-radius: 25px;
    font-size: 18px;
    color: black;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    background-color: rgb(97, 41, 226);
    border-color: white;
    transition: .5s;
    box-shadow: 10px 10px 10px rgba(0,0,0,5);
    transition: .5s;
    color: white;
}
.signup_link{
    margin: 15px 0;
    text-align: center;
    font-size: 16px;
    color: black;
}
.signup_link a{
    color: blue;
    text-decoration: none;
}
.signup_link a:hover{
    color: crimson;
}
.follow{
    text-align: center;
    cursor: pointer;
    margin: 10px 0;
}
.follow a{
    color:black
}
/* for register page */
.form-check{
    padding-bottom: 5px;
}
